#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  min-height: 500px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #e81d1d; */
}

.info-area, .hint-area{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 500px;
  right: 75%;

  background-color: beige;
  border-radius: 8px;
  /* border: 1px solid red; */
}

.info-area h2 {
  width: 200px;
}

.info-area p {
  margin: 0;
  width: 70%;
  color: black;
  font-family: 'Gill Sans';
}

.hint-area {
  left: 75%;
}

.info-area h2, .hint-area h2 {
  font-family: 'Gill Sans';
  margin: 0;
  font-size: 1.4em;
  color: #333;
}

.hint-text{
  font-family: 'Gill Sans';
  color: black;
  width: 200px;
  height: auto;
  user-select: none;
  margin: 10px;
  font-style: italic;
  font-size: x-large;

}

.submit-guess-btn {
  color : black;
}

.arrows {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.arrow {
  color: black;
  font-weight: 700;
  padding: 15px 30px;
}

.arrow:disabled {
  color: gray;
  cursor: not-allowed;
}

.remove-card-btn {
  color: black;
  background-color: crimson;
  margin-top: 20px;
}

.hint-btn{
  margin-top: 20px;
  color: black;
  margin-bottom: 10px;
}

.shuffle-btn {
  color: black;
  margin-left: 30px;
  margin-bottom: 10px;
}

.title {
  margin: 10px;
  font-family: 'Gill Sans';
}

.rumble {
  animation: rumble 0.5s ease-in-out;
}

@keyframes rumble {
  0% { transform: translateX(0); }
  10% { transform: translateX(-2px); }
  20% { transform: translateX(2px); }
  30% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  50% { transform: translateX(-2px); }
  60% { transform: translateX(2px); }
  70% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  90% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}